<strong>Olá, {{nameOwner}}</strong>
<p>Um novo Usuario se inscreveu em seu MeetUp. Mais informacoes abaixo: </p>
<p>
  <strong>Usuario: </strong> {{nameRegistered}} <br />
  <strong>Email: </strong> {{emailRegistered}} <br />
  <strong>Titulo Meetup: </strong> {{meetupTitle}} <br />
  <strong>Horario Meetup: </strong> {{meetupDate}} <br />
  <br />
  <small>
    Divirtam-se no Meetup!
  </small>
</p>
